Diploma/Диплом/Материалы с сайта/
Diploma/Диплом/Документ Microsoft Word.docx
Diploma/zoom_2.mp4
Diploma/2019 вкр/
Diploma/19-20/
*.mp4
*.jpg
Повышка/Вера/
Diploma/Новый текстовый документ.txt
*.png
4 cource/1 sem/ЭПОРПО/Лабы/ЭПОРПО лабы прошлый год/
4 cource/1 sem/ВиСПП/SRaM/Library/
*.jpg
3 cource/1 sem/Курсовая/Щекотихин/курсовая работа — копия.docx
4 cource/1 sem/ВиСПП/proc-mazes-starter.unitypackage
4 cource/1 sem/ВиСПП/SRaM/Assembly-CSharp.csproj
4 cource/1 sem/ВиСПП/SRaM/ProjectSettings/
Мат помощь/Forma_zayavlenia_na_MP.docx
Повышка
Мат помощь/Forma_zayavlenia_na_MP.docx
Повышка/НИР/Predstavlenie Шорин.docx
Повышка/НИР/Spisok_nauchnykh_trudov.docx
Повышка/НИР/Zayavlenie.docx
